body {
    /* background-size: cover; */
    background-image: url(./../Images/Public/ImageBgAdmin.jpg);
}

.main {
    /* display: flex; */
    width: 100vw;
}

.main>.options {
    display: block;
    width: 90vw;
    height: 200px;
    display: flex;
    margin: 50px auto;
    justify-content: space-between;
}

.main .options>div {
    position: relative;
    width: 250px;
    height: 200px;
    padding: 10px;
    line-height: 180px;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, .7);
    user-select: none;
    border-radius: 10px;
    text-align: center;
}

.main .options>div::before {
    display: block;
    content: "";
    width: 250px;
    height: 50px;
    position: absolute;
    top: 75px;
    left: 0px;
    background-color: rgba(0, 0, 0, .2);
}

.main .options>div:hover {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    transition: all .5s ease;
    cursor: pointer;
}

.main .options>div:hover::before {
    display: block;
    content: "";
    width: 250px;
    height: 50px;
    position: absolute;
    top: 75px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.7);
}

.main .content {
    width: 100%;
}

.content>div {
    margin-top: 50px;
    display: none;
    justify-content: space-between;
}

.content>div>div {
    position: relative;
    width: 250px;
    height: 200px;
    padding: 10px;
    line-height: 180px;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, .7);
    user-select: none;
    border-radius: 10px;
    text-align: center;
}

.content>div>div::before {
    display: block;
    content: "";
    width: 250px;
    height: 50px;
    position: absolute;
    top: 75px;
    left: 0px;
    background-color: rgba(0, 0, 0, .2);
}

.content>div>div:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    cursor: pointer;
}

.content>div>div:hover::before {
    display: block;
    content: "";
    width: 250px;
    height: 50px;
    position: absolute;
    top: 75px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.7);
}

.content .users>div:nth-child(4) {
    /* font-size: 1.5em; */
}