body {
    /* background-size: cover; */
    background-image: linear-gradient(to right, rgb(10, 40, 100), rgb(3, 86, 118));
}

.bar {
    width: 100vw;
    height: 100px;
    background-image: linear-gradient(to top, rgb(22, 121, 174), rgb(29, 128, 234));
}

.main {
    display: flex;
    width: 100vw;
}

.main .options {
    width: 20vw;
}

.main .options>div {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    text-align: left;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    background-image: linear-gradient(to right, rgb(165, 13, 66), rgb(228, 39, 106));
    user-select: none;
    margin: 50px 0px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.main .options>div:hover {
    transition: all 1s ease;
    text-align: right;
    cursor: pointer;
}

.main .content {
    width: 100%;
}

.content>div {
    margin-top: 50px;
    display: none;
}

.content>div {

    /* display: flex; */
    justify-content: space-around;
    width: 100%;
}

.content>div>div {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: radial-gradient(circle, rgb(165, 13, 66), rgb(228, 39, 106));
    text-align: center;
    line-height: 200px;
    font-size: 2em;
    color: white;
    user-select: none;
    transition: all 0.5s ease-in-out;
}

.content>div>div:hover {
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
}

.content .users>div:nth-child(4) {
    /* font-size: 1.5em; */
}