body {
    height: 500%;
    overflow-y: scroll;
    background-size: cover;
    user-select: none;
    background-color: white;
    background-image: none;
    background-color: var(--color-bg-darkblue);
}

.over {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: -1;
}

.header {}

.home,
.header>a:nth-child(2) {
    background-color: var(--color-button-link);
    width: 100px;
    height: 40px;
    margin: 20px;
    padding: 5px;
    position: relative;
    top: 20px;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.slider-for-game {
    margin-top: 50px;
    margin-bottom: 50px;
}

.slider-for-game>.images {
    background-color: var(--color-bg-card);
    opacity: .8;
    margin: auto;
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 25px;
}

.slider-for-game>.images>img {
    /* visibility: hidden; */
    margin: 0px 10px;
    width: 200px;
    /* height: 300px; */
    border-radius: 10px;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: relative;
    /* bottom: -310px; */
    transition: all 2s ease;
    transform: scale(0);
}

.slider-for-game>.images>img:nth-child(1) {
    transform: scale(1);
    /* visibility: visible; */
}

.slider-for-game>.buttons {
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.slider-for-game>.buttons>.button {
    width: 100px;
    height: 40px;
    background-color: var(--color-bg-card);
    margin: 0px 10px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.game-play {
    width: 80%;
    height: auto;
    margin: auto;
}

.game-play>video {
    width: 100%;
    /* height: 400px; */
    margin: auto;
    border-radius: 25px;
}

.cart {
    width: 40vw;
    height: auto;
    margin: 20px auto;
    border: 10px solid var(--color-border-blue);
    border-radius: 10px;
}

.cart>.title {
    background-color: var(--color-border-blue);
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 2em;
}

.cart>.options {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cart>.options>.button-add,
.cart>.options>.cart-page {
    background-color: var(--color-button-link);
    margin: 20px auto;
    padding: 5px;
    width: max-content;
    height: 50px;
    color: white;
    font-size: 2em;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.cart>.button:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}

@keyframes an1 {
    0% {
        /* visibility: hidden; */
        transform: scale(0);
    }

    50% {
        visibility: visible;
        transform: scale(1.5);
    }

    /* 95% {
        visibility: visible;
        transform: scale(1);
    } */

    100% {
        visibility: visible;
        transform: scale(1);
    }
}

@keyframes an2 {
    0% {
        /* visibility: hidden; */
        transform: scale(1);
    }

    100% {
        /* visibility: visible; */
        transform: scale(0);
    }
}