body {
    margin: 0;
    padding: 0;
    background-color: rgb(80, 30, 70);
}

.box-form {
    width: 100%;
    margin-top: 50px;
}

.box-form form {

    margin: auto;
    width: 650px;
    height: auto;
    background-color: rgb(100, 50, 90);
    padding-top: 1px;
}

form div.box {
    display: flex;
    width: 95%;
    height: 50px;
    margin-left: 30px;
    margin-top: 25px;
}

form div.box label {
    width: 25%;
    line-height: 50px;
    color: white;
    font-size: 1.2em;
}

form div.box input[type="text"] {
    width: 65%;
    background-color: transparent;
    border: 2px solid rgb(120, 70, 110);
    font-size: 1.5em;
    color: white;
    outline: none;
    padding-left: 10px;
}

form div.box input[type="text"]:focus {
    background-color: rgb(120, 70, 110);
}

form div.box-submit {
    /* margin: auto; */
    margin-top: 25px;
    width: 100%;
    height: 50px;
}

form div.box-submit input[type="submit"] {
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgb(120, 70, 110);

    color: white;
    font-size: 1.2em;
    margin: auto;
    outline: none;

}

*::selection {
    background-color: rgb(140, 90, 130);
    color: black;
}

form div.box-submit input[type="submit"]:hover {
    background-color: rgb(120, 70, 110);
    transition: all 0.3s ease;
    color: rgb(255, 200, 255);
}