body {
    margin: 0;
    padding: 0;
    background-color: rgb(80, 30, 70);
    background-image: var(--image-bg-admin);
}

.header {
    margin: 0px;
}

.home {
    display: block;
    background-color: var(--color-button-link);
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.title {
    background-color: var(--color-input-hover-admin-pages);
    width: 40%;
    height: 50px;
    padding: 5px;
    margin: 10px auto;
    line-height: 40px;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 2em;
}

.box-form {
    width: 40%;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 50px;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 20px;
    /* opacity: .5; */
}

.box-form form {

    margin: auto;
    width: 650px;
    height: auto;
    padding-top: 1px;
}

form div.box {
    display: flex;
    width: 95%;
    height: 50px;
    margin-left: 30px;
    margin-top: 25px;
}

form div.box label {
    width: 25%;
    line-height: 50px;
    color: white;
    font-size: 1.2em;
}

form div.box input[type="text"] {
    width: 90%;
    background-color: transparent;
    border: 2px solid var(--color-border-blue);
    border-radius: 10px;
    font-size: 1.5em;
    color: black;
    outline: none;
    padding-left: 10px;
}

form div.box input[type="text"]:focus,
form div.box input[type="text"]:hover {
    background-color: var(--color-input-hover-admin-pages);
    color: white;
}

form div.box-submit {
    /* margin: auto; */
    margin-top: 25px;
    width: 100%;
    height: 50px;
}

form div.box-submit input[type="submit"] {
    border: 2px;
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid var(--color-border-blue);

    color: black;
    font-size: 1.2em;
    margin: auto;
    outline: none;

}

*::selection {
    background-color: white;
    color: black;
}

form div.box-submit input[type="submit"]:hover {
    background-color: var(--color-input-hover-admin-pages);
    transition: all 0.3s ease;
    color: white;
}

.login-failed {
    display: none;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
    transition: all .2s ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hide {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes show {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.link-page-new-account {
    width: 40%;
    height: 40px;
    margin: 20px auto;
    color: white;
    text-align: center;
}

.link-page-new-account>a {
    display: inline-block;
    /* width: 40%; */
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--color-button-link);
    color: white;
    text-align: center;
}